[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "homepage/themes/researcher"]
	path = homepage/themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
